{
	"plugins": ["prettier-plugin-tailwindcss"],

	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"requirePragma": false,
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"printWidth": 175,
	"proseWrap": "preserve",
	"quoteProps": "preserve",
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true,
	"vueIndentScriptAndStyle": false
}
